<footer class="mt-5">
  <div class="container footer d-flex">
    <div class="row">
      <div class="col-12 col-lg-4">
        <img
          style="margin-top: 30px"
          src="../../assets/nav-img/Layer_x0020_1.svg"
        /><br /><br />
        <p class="para3">
          A Pioneer in B2B supply chain grass root level of approach in
          wholesale FMCG products.
        </p>
        <h4 _ngcontent-cey-c27="" class="heading4">
          <b _ngcontent-cey-c27="">ADDRESS :</b>
        </h4>
        <p _ngcontent-cey-c27="" class="para3">
          No. 142, Sohini Tech Park, 8th &amp; 9th<br _ngcontent-cey-c27="" />
          Floors, Nanakramguda, Serlingampalli<br _ngcontent-cey-c27="" />
          Mandal, Rangareddy District,<br _ngcontent-cey-c27="" />
          Hyderabad Telanagana 500 032
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-4">
        <h4 class="heading4"><b>HIGHLIGHTS</b></h4>
        <p class="para3">Better Branda For You</p>
        <p class="para3">Support Growing Businesses</p>
        <p class="para3">Food Waste Reduction</p>
        <p class="para3">Accessible Food Creation</p>
      </div>
      <div class="col-12 col-lg-2 col-md-3">
        <h4 class="heading4"><b>QUICK LINKS</b></h4>
        <a href="about-us">
          <p class="para3">About us</p>
        </a>
        <a href="approach">
          <p class="para3">Approach</p>
        </a>
        <a href="catalog">
          <p class="para3">Catalog</p>
        </a>
        <a href="contact-us">
          <p class="para3">Contact Us</p>
        </a>
        <div class="footer-social-media">
          <a href="#">
            <!-- <img class="icons" src="../../assets/nav-img/fbicon.svg"/> -->
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#">
            <i class="bi bi-linkedin"></i>
            <!-- <img class="icons" src="../../assets/nav-img/inneedicon.svg"
          /> -->
          </a>
          <a href="#">
            <i class="bi bi-twitter"></i>
            <!-- <img class="icons" src="../../assets/nav-img/twittericon.svg" /> -->
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-5 footer_emails">
        <h4 class="heading4"><b>EMAIL :</b></h4>
        <p class="para3">
          Sales Enquiry :<a href="mailto:sales@radharammarketing.com"
            >sales@radharammarketing.com</a
          >
        </p>
        <p class="para3">
          Support :
          <a href="mailto:supports@radharammarketing.com"
            >supports@radharammarketing.com</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
