.page-heading{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    }
    .bg-section{
    background: #E5E5E5;
    }
    .cards{
        border-radius: 30px;
    }
    .product-img{
        background: #FFEFE6;
        border-radius: 22px;
    }
    .page-heading-1{
        width: 420px;
        height: 38px;

        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 38px;
        /* identical to box height, or 171% */

        letter-spacing: -0.02em;

        color: #000000;
        }
        .address-details{
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        /* identical to box height, or 145% */


        color: #000000;
        }
        .fa-icon{
            color: #FF7438;
        }
        .address-details-1{
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 32px;
        color: gray;
        }
    .product-details{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25.3409px;
    line-height: 34px;
    /* identical to box height, or 133% */


    color: #323232;
    }
    .delivery-details{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19.7096px;
    line-height: 34px;
    /* identical to box height, or 171% */


    color: #323232;

    opacity: 0.6;
    }
    /*end of the order history*/
    .flex-div{
        justify-content:space-around;

    }

    .mrp-2{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */

    letter-spacing: -0.02em;

    color: #1D1D1D;
    }
    .total{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.02em;

    color: #1D1D1D;

    opacity: 0.5;
    }
    .price-1{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17.0042px;
    line-height: 25px;
    /* identical to box height, or 145% */

    letter-spacing: -0.01em;

    color: #000000;

    }
    .price-2{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17.0042px;
    line-height: 25px;
    /* identical to box height, or 145% */

    letter-spacing: -0.01em;

    color: #000000;
    }
    .price-3{
        font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24.7333px;
    line-height: 25px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;

    color: #FF7438;
    }
    .page-heading-1{
    width: 420px;
    height: 38px;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 171% */

    letter-spacing: -0.02em;

    color: #000000;
    }
