@import "../../../../assets/styles/aboutusimg.scss";
@import "../../../../assets/styles/heading2.scss";
@import "../../../../assets/styles/para2.scss";
@import "../../../../assets/styles/heading3.scss";
@import "../../../../assets/styles/heading4.scss";
@import "../../../../assets/styles/para3.scss";
@import "../../../../assets/styles/tahheading.scss";
@import "../../../../assets/styles/button1.scss";
@import "../../../../assets/styles/heading1.scss";
@import "../../../../assets/styles/button2.scss";

.sec-1 {
  text-align: center;
  background: url("../../../../assets/nav-img/bg-img.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  @media only screen and (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.aboutus-sec {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
}
.aboutus-sec-home {
  background-color: #fff7f2;
  padding-top: 80px;
  padding-bottom: 50px;
}
.aboutus-1 {
  width: $img-width;
  height: $img-height;
}
.heading1 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-style: $h1-style;
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  font-size: 65px;
  line-height: 80px;
  color: $h1-font-color;
  @media only screen and (min-width: 1200px) {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
}
.home_catlog_container {
  padding: 45px 0 0;
  @media only screen and (min-width: 1200px) {
    padding-bottom: 50px;
    padding-top: 30px;
  }
}
.home_catlog_content {
  width: 100%;
  max-width: 810px;
  // padding: 30px;
  @media only screen and (min-width: 1200px) {
    // padding: 50px;
  }
}
.heading2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: $h2-style;
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  font-size: 35px;
  line-height: $h2-line-height;
  color: $h2-font-color;
  // margin-left: 10px;
  // margin-right: 10px;
  @media only screen and (min-width: 1200px) {
    font-size: $h2-font-size;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.para2 {
  font-family: $para2-font-family;
  font-size: $para2-font-size;
  line-height: $para2-line-height;
  letter-spacing: $para2-letter-spacing;
  color: $para2-color;
  opacity: $para2-opacity;
}
.cooke2 {
  position: relative;
  bottom: 90%;
  left: 102%;
}
.cooke4 {
  position: relative;
  top: 10%;
  left: 100%;
}

.solution-section {
  background-color: #f2fff2;
}
.solution-para {
  padding-top: 20px;
}
@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
}
.aboutus-leadership {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8fff7;
}
.htag {
  font-size: $htag-font-size;
  line-height: $htag-line-height;
  letter-spacing: $htag-letter-spacing;
  font-style: $htag-font-style;
  color: $htag-font-color;
  font-weight: $htag-font-weight;
  font-family: $htag-font-family;
}

.heading3 {
  padding-top: 100px;
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
  color: $h3-font-color;
  font-weight: $h3-font-weight;
  @media only screen and (max-width: 980px) {
    padding-top: 0;
  }
}
.heading4 {
  font-family: $h2-font-family;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
  color: $h4-color;
  margin-top: 30px;
}
.para3 {
  font-family: $para2-font-family;
  font-size: $para3-font-size;
  line-height: $para3-line-height;
  letter-spacing: $para3-letter-spacing;
  color: $para3-color;
  opacity: $para2-opacity;
}
.icon-sec {
  // margin-left: 50px;
}
.icon-sec-home {
  background: url("../../../../assets/nav-img/bg-2.jpg");
  padding-top: 100px;
  padding-bottom: 120px;
  @media only screen and (max-width: 980px) {
    background-position: right bottom;
  }
}

.whyus {
  background-color: #fff7f2;
}
.gallery {
  align-items: baseline;
}
#main {
  padding-top: 50px;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
}
#main2 {
  padding-top: 50px;
  display: flex;
  align-items: end;
  justify-content: center;
  justify-content: center;
  padding-bottom: 30px;
}
.form-control {
  background: #efefef;
  border-radius: 16px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  height: 60px;

  padding-left: 25px;
  padding-right: 25px;
  border: none;
}
.container-form {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.text1 {
  background: linear-gradient(93.85deg, #ffad00 0%, #fe1300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
