<div class="sec-1">
  <div class="container">
    <h1 class="heading1">
      <b>The<span class="text1"> Largest</span> Grocery<br />Supply Chain</b>
    </h1>
    <p class="para2">
      A robust market place that connects Wholesalers and Retailers to Brands.
    </p>
    <a routerLink="/catalog"><button type="button" style="margin-bottom: 10px; margin-right: 10px" class="btn1">
        View Catalog
      </button></a>
    <a routerLink="/contact-us"><button style="margin-top: 10px; margin-right: 10px" class="btn2">
        Contact Us
      </button></a>
  </div>
</div>
<!--end of the section 1-->
<div class="container">
  <img class="d-sm-block d-none" style="position: relative; top: 20%; left: 99%"
    src="../../assets/nav-img/gallery-cooke-1.svg" />
  <div id="main">
    <div><img class="img-fluid" src="../../assets/nav-img/gallery1.jpg" /></div>
    <div><img class="img-fluid" src="../../assets/nav-img/gallery2.jpg" /></div>
    <div><img class="img-fluid" src="../../assets/nav-img/gallery3.jpg" /></div>
    <div><img class="img-fluid" src="../../assets/nav-img/gallery4.jpg" /></div>
  </div>
</div>
<div class="container">
  <div id="main2">
    <img class="d-sm-block d-none" style="position: relative; right: 220px"
      src="../../assets/nav-img/gallery-co0ke-2.svg" />
    <div>
      <img class="img-fluid" style="margin: 10px" src="../../assets/nav-img/gallery5.jpg" />
    </div>
    <div>
      <img class="img-fluid" style="margin: 10px" src="../../assets/nav-img/gallery6.jpg" />
    </div>
  </div>
</div>
<!--end of the gallery section-->
<div class="container-fluid">
  <div class="container home_catlog_container">
    <div class="home_catlog_content">
      <h2 class="heading2">
        Our platform connects a wide range
        <span> of product catalog for your needs.</span>
      </h2>
      <p class="para3">
        A one stop solution for various product range for food and grocery. new
        retail platform well connected with brands, products and retail entities
        across India.
      </p>
    </div>
    <img class="d-sm-block d-none" style="position: relative; bottom: 270px; left: 95%"
      src="../../assets/nav-img/home-cooke.svg" />
  </div>
</div>
<!--end of the section-->
<div class="container">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-5 row">
      <div style="margin-top: 10px" class="d-flex justify-content-around">
        <div>
          <img style="margin: 30px" src="../../assets/nav-img/hm-icon-1.svg" />
          <h3 style="margin: 30px" class="htag my-2">30,000</h3>
          <p style="margin: 30px" class="para3 my-2">Listed Products</p>
        </div>
        <div>
          <img style="margin: 30px" src="../../assets/nav-img/hm-icon-2.svg" />
          <h3 style="margin: 30px" class="htag my-2">525</h3>
          <p style="margin: 30px" class="para3 my-2">Partnered Brands</p>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <img style="margin: 30px" src="../../assets/nav-img/hm-icon-3.svg" />
          <h3 style="margin: 30px" class="htag my-2">1,000</h3>
          <p style="margin: 30px" class="para3 my-2">Wholesalers</p>
        </div>
        <div>
          <img style="margin: 30px" src="../../assets/nav-img/hm-icon-4.svg" />
          <h3 style="margin: 30px" class="htag my-2">10Lakhs+</h3>
          <p style="margin: 30px" class="para3 my-2">customer</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-12 col-lg-7 align-self-center d-flex justify-content-center">
      <img class="img-fluid" src="../../assets/nav-img/icon-img.svg" />
    </div>
  </div>
  <div class="element-start mb-5">
    <img class="img-fluid" src="../../assets/nav-img/aboutus-cooke-3.svg" />
  </div>
</div>

<!--end of the section-->

<div class="container-fluid aboutus-sec-home">
  <img style="position: relative; left: 85%" src="../../assets/nav-img/bottle-water.svg" />

  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-md-12 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/home-whychoose-us.png" />
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading2">Why choose Radha Ram Marketing ?</h2>
        <p class="para3">
          We cover PAN India wide distribution with Technology enabled supply<br />
          chain and logistics to provide warehousing to fulfil the requirements
          of<br />
          our clients by all means.<br /><br />

          A B2B marketplace with an AI supported tech team to optimize easy<br />
          order management, fulfillment, payments, delivery, invoicing, and<br />
          customer centric support.
        </p>
        <br /><br />
        <a href="#"><button class="btn1">Know More</button></a>
      </div>
    </div>
    <img class="element-start" src="../../assets/nav-img/wheat-sack.svg" />
  </div>
</div>
<!--end of the icon section-->
<div class="container-fluid icon-sec-home">
  <div class="container">
    <h2 class="heading2" style="text-align: center">
      Optimized Supply Chain Management
    </h2>
    <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div>
          <img class="icon-sec" style="text-align: center" src="../../assets/nav-img/home-page-icon.jpg" />
          <h3 class="htag">Brands</h3>
          <p class="para3">
            Brand connection from Beverages to Personal care to connect
            wholesalers and Retailers to the existing and emerging brands
            accross nationwide.
          </p>
        </div>
      </div>

      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div>
          <img class="icon-sec" style="text-align: center" src="../../assets/nav-img/home-page-icon2.jpg" />
          <h3 class="htag">Support</h3>
          <p class="para3">
            Brand connection from Beverages to Personal care to connect
            wholesalers and Retailers to the existing and emerging brands
            accross nationwide.
          </p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div>
          <img class="icon-sec" style="text-align: center" src="../../assets/nav-img/home-page-icon-3.jpg" />
          <h3 class="htag">Inventory</h3>
          <p class="para3">
            Brand connection from Beverages to Personal care to connect
            wholesalers and Retailers to the existing and emerging brands
            accross nationwide.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of the leadership section-->

<div class="container-fluid aboutus-leadership">
  <div class="container">
    <div class="row">
      <h2 class="heading2 ms-lg-5 ps-lg-5">Our Leadership</h2>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="../../assets/nav-img/leadership-img.png" class="img-fluid" />
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading3">Mr. Rambabu Gude</h2>
        <p class="para2">Chairman</p>
        <p class="para2">
          Mr. Rambabu Gude has an experience of 14+ years in retail sales with
          huge client relationships. His extreme skills set has Team Leadership,
          Business Acumen, Technology Enthusiast , Sales and Marketing
          Professional with a decade of team leadership and business development
          excellence.<br /><br />
          Skilled at the planning, coordination and prioritization of entire
          Sales process, address business problems, support business initiatives
          and drive process efficiencies. Excellent communication, interpersonal
          and negotiation skills, with keen ability to build professional
          relationships of trust and mutual respect with Clients, Partners and
          Vendors. Works effectively along with the team to build consensus and
          drive uniform strategy to accomplish business goals.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="heading2">Retailers & Wholesalers Network</h3>
    <p class="para3">
      Connect with us and be a part of RadhaRam family of Wholesalers
    </p>

    <div class="col col-sm-12 col-md-12 col-lg-8">
      <form class="my-4">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Name" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile number" />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Company Name" />
        </div>
        <div class="mt-5">
          <a href="#"><button class="btn1">Hear from us</button></a>
        </div>
      </form>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-4 d-none d-lg-block">
      <img class="img-fluid" src="../../assets/nav-img/bg-abstract.png" />
    </div>
  </div>
  <!--end of the leadership section-->
</div>
