
<!--end the 4th section in approch page-->
<!--end of the previous section-->
<section>
  <div class="container justify-content-center py-5">
    <div class="row  align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/aboutus-img-1.jpg" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="heading-2">
          A Pioneer in grocery<br> B2B supply chain
        </h2>
        <p class="para">
          A robust market place connecting Wholesalers and Retailers to<br> Brands
          using the cutting edge technologies not only to ensure the on<br> time
          deliveries and extended support, but also to improve your<br> business and
          strategy with AI enabled business optimization. <br /><br />
          High quality range of Beverages, Bread/Bakery, Canned/Jarred Goods,<br>
          Dairy, Dry/Baking Goods, Frozen Foods, Meat, Produce, Cleaners, Paper<br>
          Goods, Personal Care and more from the Brands, Manufacturers and<br>
          Producers
        </p>
      </div>
    </div>
    <!--<img class="cooke1 d-sm-block d-none" src="../../assets/nav-img/aboutus-cooke-1.svg" />-->
  </div>
</section>
<!--End of the first section-->
<section class="bg-section-1">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="heading-2">
          Our Mission in Grocery<br>B2B Supply Chain.
        </h2>
        <p class="para">
          Our mission is built on our promise to provide value to our<br> customers,
          partners, stakeholders as well as to our employees.<br> And is to stand as
          the top quality product distributor and to<br> provide optimized and
          consolidated customer support for<br> brands and wholesalers.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/aboutus-img-2.png" />
       <!-- <img class="d-sm-block d-none" src="../../assets/nav-img/gallery-co0ke-2.svg" />-->
  
      </div>
    </div>

  </div>
</section>
<!--end of the section-->
<section>
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <img class="img-fluid" src="../../assets/nav-img/aboutus-img-3.png" /> 
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <!--    <img src="../../assets/nav-img/aboutus-cooke-4.svg" />-->

        <h2 class="heading-2">What makes us special</h2>
        <p class="para">
          Our values define our commitment and credibility towards addressing
          customer priorities.
        </p>
        <ul class="para">
          <li>Prioritised focused on customer value,</li>
          <li>
            Dedicated to provide quality and support for customer's spents
          </li>
          <li>Reduction and Intolerance in waste</li>
          <li>We take a job of supervising for our stockholders.</li>
          <li>Responsible organization with responsible leadership.</li>
        </ul> 
      </div>
      
    </div>

   <!-- <img class="cooke1 d-sm-block d-none" src="../../assets/nav-img/aboutus-cooke-1.svg" />-->
  </div>
</section>
<!--end of the section-->
<section class="bg-section-1 py-5">
  <div class="container align-items-center py-5">
    <h2 class="heading-2 py-4 p-5">Our Leadership</h2>
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/leadership-img.png"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3 class="heading-3">Mr. Rambabu Gude</h3>
        <p class="para">chairman</p>
        <p class="para">Mr. Rambabu Gude has an experience of 14+ years in retail<br>
          sales with huge client relationships. His extreme skills set<br>
          has Team Leadership, Business Acumen, Technology<br>
          Enthusiast , Sales and Marketing Professional with a decade<br>
          of team leadership and business development excellence.<br><br>


          Skilled at the planning, coordination and prioritization of<br>
          entire Sales process, address business problems, support<br>
          business initiatives and drive process efficiencies. Excellent<br>
          communication, interpersonal and negotiation skills, with<br>
          keen ability to build professional relationships of trust and<br>
          mutual respect with Clients, Partners and Vendors. Works<br>
          effectively along with the team to build consensus and drive<br>
          uniform strategy to accomplish business goals.</p>
      </div>
    </div>
  </div>
</section>
