<!--<div class="heading2" style="text-align: center;padding: 50px;">Our Approach</div>
 <div class="solution-section">
                    <div class="container approch-sec">
                    <div class="flex-container d-flex">
                        <div>
                            <h2  class="heading2">Organize</h2>
                            <p class="para2">RRM identifies the problems and pain in un organized grocery<br>
                                business and optimize the business process with the intelligent
                                enterprise management solutions.<br><br>

                                It is the fact that Stock Management in a grocery business line is a<br>
                                tough task for wholesalers and retailers. Our Enterprise Inventory<br>
                                software enables you to keep a track of your incoming and outgoing<br>
                                stock accurately basis your sales and orders which makes you to<br>
                                handle your Stock Management in an efficient way.</p>
                            </div>
                        <div>
                            <img class="img-fluid" src="../../assets/nav-img/Approch-img-1.png">
                            <img  class="approch-cooke2 d-sm-block d-none" src="../../assets/nav-img/approch-cooke-1.svg">
                        </div>
                      </div>
                    </div>
                    </div> -->
<!--Organize section-->
<!--section content-->
<!--<div class="container-fluid organize-sec">
  <div class="container">
    <h2 class="heading2 text-center">Our Approach</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="approach_support">
          <h2 class="heading2">Organize</h2>
          <p class="para2">
            RRM identifies the problems and pain in un organized grocery
            business and optimize the business process with the intelligent
            enterprise management solutions.
          </p>
          <p class="para2">
            It is the fact that Stock Management in a grocery business line is a
            tough task for wholesalers and retailers. Our Enterprise Inventory
            software enables you to keep a track of your incoming and outgoing
            stock accurately basis your sales and orders which makes you to
            handle your Stock Management in an efficient way.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <img class="img-fluid" src="../../assets/nav-img/Approch-img-1.png" />
        <img class="approch-cooke2 d-sm-block d-none" src="../../assets/nav-img/approch-cooke-1.svg" />
      </div>
    </div>
    <img style="position: relative; left: 1px; bottom: 140px" class="approch-cooke2 d-sm-block d-none"
      src="../../assets/nav-img/org.svg" />
  </div>
</div>-->
<!--section content-->
<!--end of the organize section-->

<!--end of the first section in Approch Page-->
<!-- <div class="container-fluid approch-sec-2 ">
                    <div class="container aboutus-sec">
                        <div class="flex-container  d-flex">
                            <div>
                            <img class="img-fluid" src="../../assets/nav-img/approch-img-2.png">
                        </div>
                        <div class="text">
                            <h2  class="heading2">Quality & Supply</h2>
                            <p class="para2">RRM ensures the quality driven by our Quality and Assessment<br>
                                software modules enabling in the maximim waste reduction ensuring<br>
                                quality supply at the highest level. Our product distribution is backed<br>
                                up by the Supply Chain software modules, which enables us in an<br>easy
                                order management and on-time delivery.</p>
                                <img class="approch-cooke3 d-sm-block d-none" src="../../assets/nav-img/aboutus-cooke-1.svg">
                             </div>
                    </div>
                </div>
            </div>
            end of the section2 in Opproch page-->
<!--quality section-->
<!--original section-->
<!--<div class="container-fluid quality-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/approch-img-2.png" />
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 style="margin-top: 50px" class="heading2">Quality & Supply</h2>
        <p class="para2">
          RRM ensures the quality driven by our Quality and Assessment software
          modules enabling in the maximim waste reduction ensuring quality
          supply at the highest level. Our product distribution is backed up by
          the Supply Chain software modules, which enables us in an easy order
          management and on-time delivery.
        </p>
        <img class="approch-cooke3 d-sm-block d-none" src="../../assets/nav-img/aboutus-cooke-1.svg" />
      </div>
    </div>
  </div>
</div>-->
<!--orginal section-->
<!--end of the quality section-->
<!--end of the section 2-->
<!--<div class="solution-section">
                    <div class="container approch-sec">
                    <div class="flex-container d-flex">
                        <div>
                            <h2  class="heading2">Support</h2>

                    It is the fact that Stock Management in a grocery business line is a<br>
                    tough task for wholesalers and retailers. Our Enterprise Inventory<br>
                    software enables you to keep a track of your incoming and outgoing<br>
                    stock accurately basis your sales and orders which makes you to<br>
                    handle your Stock Management in an efficient way.</p>
            </div>
            <div class="col  col-sm-12 col-md-6 col-lg-6">
                <img class="img-fluid" src="../../assets/nav-img/Approch-img-1.png">
            </div>
        </div>
        <div class="element-start"><img _ngcontent-stm-c22="" src="../../assets/nav-img/wheat-sack.svg"></div>

                                RRM supports with the easy Account Book software which makes<br>
                                your Accounting and Payments processes easier with the<br>
                                transparent and accurate Accounts and Payments reports.</p>
                                <img  class="approch-cooke4 d-sm-block d-none" src="../../assets/nav-img/aboutus-cooke-2.svg">
                            </div>
                        <div>
                            <img class="img-fluid" src="../../assets/nav-img/approch-img-3.png">
                        </div>
                      </div>
                    </div>
                    </div>
                    end of the 3rd section in approch page-->
<!--support section-->
<!--orginal section-->
<!--<div class="container-fluid support-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="approach_support">
          <h2 class="heading2">Support</h2>
          <p class="para2">
            The real world problem for wholesalers and retailers today in an
            existing unorganized grocery business is the pain and challenge in
            handling Accounts, Finance and Payments.
          </p>
          <p class="para2">
            RRM supports with the easy Account Book software which makes your
            Accounting and Payments processes easier with the transparent and
            accurate Accounts and Payments reports.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <img class="img-fluid" src="../../assets/nav-img/approch-img-3.png" />
      </div>
    </div>
  </div>
  <img style="position: relative; left: 70px; bottom: 30px" class="approch-cooke4 d-sm-block d-none"
    src="../../assets/nav-img/support-cooke.svg" />
</div>-->
<!--orginal section-->
<!--end of the support section  -->
<!--end of the previous section-->
<section>
  <div class="container py-5">
    <div class="row align-items-center">
      <h2 class="heading-2 text-center py-1">Our Approch</h2>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="heading-2">Organize</h2>
        <p class="para">
          RRM identifies the problems and pain in un organized grocery<br>
          business and optimize the business process with the intelligent<br>
          enterprise management solutions.
        </p>
        <p class="para">
          It is the fact that Stock Management in a grocery business line is a<br>
          tough task for wholesalers and retailers. Our Enterprise Inventory<br>
          software enables you to keep a track of your incoming and outgoing<br>
          stock accurately basis your sales and orders which makes you to<br>
          handle your Stock Management in an efficient way.<br>
        </p>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/Approch-img-1.png" />

      </div>
    </div>
  </div>
</section>
<!--end of the first section-->
<section class="bg-section-2 py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/approch-img-2.png" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="heading-2">Quality & Supply</h2>
        <p class="para">
          RRM ensures the quality driven by our Quality and Assessment software
          modules enabling in the maximim waste reduction ensuring quality
          supply at the highest level. Our product distribution is backed up by
          the Supply Chain software modules, which enables us in an easy order
          management and on-time delivery.
        </p>
      </div>
    </div>
  </div>
</section>
<!--end of the second section-->
<section>
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="heading-2">Support</h2>
        <p class="para">
          The real world problem for wholesalers and retailers today in an<br>
          existing unorganized grocery business is the pain and challenge in<br>
          handling Accounts, Finance and Payments.
        </p>
        <p class="para">
          RRM supports with the easy Account Book software which makes your<br>
          Accounting and Payments processes easier with the transparent and<br>
          accurate Accounts and Payments reports.
        </p> 
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../assets/nav-img/approch-img-3.png" />
      </div>
    </div>
  </div>
</section>
