/*@import "../../../../assets/styles/aboutusimg.scss";
@import "../../../../assets/styles/heading2.scss";
@import "../../../../assets/styles/para2.scss";
@import "../../../../assets/styles/heading3.scss";
@import "../../../../assets/styles/heading4.scss";
@import "../../../../assets/styles/para3.scss";
.quality-sec {
  padding-top: 50px;
  background-color: #fff7f2;
  padding-bottom: 50px;
}
.organize-sec {
  padding-top: 50px;
  padding-bottom: 50px;
}
.support-sec {
  padding-top: 50px;
  padding-bottom: 50px;
}
.approch-sec {
  padding-top: 50px;
  padding-bottom: 50px;
}
.approch-1 {
  width: $img-width;
  height: $img-height;
}
.approch-sec-2 {
  background-color: #fff7f2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.heading2 {
  margin-top: 30px;
  font-style: $h2-style;
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  color: $h2-font-color;
  // margin-left: 10px;
  // margin-right: 10px;
}

.para2 {
  font-family: $para2-font-family;
  font-size: $para2-font-size;
  line-height: $para2-line-height;
  letter-spacing: $para2-letter-spacing;
  color: $para2-color;
  opacity: $para2-opacity;
}
.approch-cooke2 {
  position: relative;
  bottom: 90%;
  left: 100%;
}
.cooke4 {
  position: relative;
  top: 10%;
  left: 100%;
}
.approch-cooke3 {
  position: relative;
  top: 30%;
  left: 100%;
}

.approch-section {
  background-color: #ffff;
}
.solution-para {
  padding-top: 20px;
}
@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
}
.aboutus-leadership {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8fff7;
}
.heading3 {
  padding-top: 150px;
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
  color: $h3-font-color;
  font-weight: $h3-font-weight;
}
.heading4 {
  font-family: $h2-font-family;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
  color: $h4-color;
  margin-top: 30px;
}
.para3 {
  font-family: $para2-font-family;
  font-size: $para3-font-size;
  line-height: $para3-line-height;
  letter-spacing: $para3-letter-spacing;
  color: $para3-color;
  opacity: $para2-opacity;
}
.icons {
  padding: 10px;
}
.disc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  padding-bottom: 20px;
}
.footer {
  border-top: 1px solid black;

  padding-top: 100px;
}

.approach_support {
  width: 100%;
  max-width: 650px;
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}*/
