<div class="container img-form">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <img class="img-fluid" src="../../assets/nav-img/contactus-img-1.png" />
    </div>
    <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-5">
      <h3 class="heading3">We would love to hear from you !</h3>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Name" />
        </div>
        <div class="form-group">
          <input type="emal" class="form-control" id="exampleInputPassword1" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number" />
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Feedback Please.." id="textAreaExample1" rows="3"
            style="height: 100px"></textarea>
          <label class="form-label" for="textAreaExample1"></label>
        </div>
        <a href="#"><button class="btn1">Send</button></a>
        <!-- <p class="para3" style="padding: 30px;">Don't have a account !? Click here to <span
                        style="color:#ff0000" class="text">register now</span></p> -->
      </form>
    </div>
  </div>
</div>
<!--end of the section 1-->

<div class="container-fluid map-sec-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <h2 class="heading2">Address</h2>
        <p class="para2">
          No. 142, Sohini Tech Park, 8th & 9th Floors,<br />
          Nanakramguda, Serlingampalli Mandal, Rangareddy<br />
          District, Hyderabad Telanagana 500 032
        </p>
        <h3 class="heading4"><b>Email</b></h3>
        <p class="para2">
          Sales Enquiry :
          <a href="mailto:sales@radharammarketing.com">sales@radharammarketing.com</a>
        </p>
        <p class="para2">
          Support :
          <a href="mailto:support@radharammarketing.com">support@radharammarketing.com</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.771989903111!2d78.34495511535326!3d17.422726606369697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93793ddd7d43%3A0xa8e39713da01f08d!2sSohini%20Tech%20Park!5e0!3m2!1sen!2sus!4v1640241047081!5m2!1sen!2sus"
          width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
        <img class="d-sm-block d-none cooke-icon" style="" src="../../assets/nav-img/contactus-cooke-1.svg" />
      </div>
    </div>
  </div>
</div>
<div class="container"></div>
