<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Strict-Transport-Security" value="max-age=15768000"/>
                <add name="Cache-Control" value="no-store, no-cache"/>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Powered-By" value="EMPIEZO" />
                <add name="X-XSS-Protection" value="1; mode=block"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Redirect all requests" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(sep-api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 

 
 