$btn1-width: 239px;
$btn1-height: 64px;
$btn1-border-radius: 16px;
$btn1-color: #ffff;
$btn1-font-size: 20px;
$btn1-line-height: 32px;
$btn1-letter-spacing: -0.01em;
.btn1 {
    height: 56px;
    width: 56px;
    border-radius: 100%;
}
