$ph-font-family: 'Work Sans', 'sans-serif';
$ph-font-width: 479px;
$ph-font-height: 32px;
$ph-font-style: normal;
$ph-font-size:42px;
$ph-letter-spacing: -0.02em;
$ph-color: #1D1D1D;
$ph-font-weight: 600;

