$htag-font-size: 32px;
$htag-line-height: 32px;
$htag-letter-spacing: -0.01em;
$htag-font-style: "normal";
$htag-font-color: #1d1d1d;
$htag-font-weight: bold;
$htag-font-family: "Work Sans", sans-serif;
