  <section class="bg p-5 ">
<div class="container ">
  <h3 class="page-heading-1 py-5 ">Address Book</h3>
  <h5 class="saved-address-1 py-3">SAVED ADDRESS</h5>
<div class="row py-5 mb-5  ">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   ">
    <div class="card ">
      <div class="card-body">
        <div class="d-flex  addressbook ">
          <div>
            <i class="fa fa-home fa-2x fa-icon py-5 px-3" aria-hidden="true"></i>
          </div>
          <div>
            <h6 class="address">Hno-6/1/131 , bowenpally , hyderabad<br>Hyderbad-500042</h6>
            <h6 class="address-1">Telangana , India</h6>
            <div class="d-flex">
              <div>
                <a href="#" class=" nav-link edit">Edit</a>
              </div>
              <div>
               <a href="#" class=" nav-link delet">Delet</a>
             </div>
            </div>
          </div>
          </div> 
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex  addressbook ">
          <div>
            <i class="fa fa-home fa-2x fa-icon py-5 px-3" aria-hidden="true"></i>
            </div>
          <div>
            <h6 class="address">Hno-6/1/131 , bowenpally , hyderabad<br>Hyderbad-500042</h6>
            <h6 class="address-1">Telangana , India</h6>
            <div class="d-flex">
              <div>
                <a href="#" class="nav-link edit">Edit</a>
              </div>
              <div>
               <a href="#" class=" nav-link delet">Delet</a>
             </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center p-5">
  <button type="button" class="btn btn-lg btn-full"> <span class="update-profile">Update Profile</span></button>
</div>
</div>
</div>
</section>
<!--end of the section-->
